/* General Reset */
* {
    font-family: "Lexend Exa", serif;
    font-weight: lighter;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
@keyframes header-fade-in {
    0% {
        opacity: 0; /* Fully transparent at the start */
        font-size: 10px;    
        transform: translateY(00px);        
    }
    100% {
        opacity: 1; /* Fully opaque at the end */
        font-size: 18px;    
        transform: translateY(-30px);
    }
}

@-webkit-keyframes generic-hover {
    from {
    }
    to {
        color: #ff5733;
        letter-spacing: 8px;       
    }
}
@-webkit-keyframes link-fade-in {
    0% {
        opacity: 0; /* Fully transparent at the start */
        margin: 4.3rem;
        
    }
    100% {
        opacity: 1; /* Fully opaque at the end */
        font-size: 20px;    
        font-size: 1.6rem;
        margin: 2.7rem;
    }
}

@keyframes scroll-x {
    from {transform: matrix(1, 0, 0, 1, 2300, 5)}
    to {transform: matrix(1, 0, 0, 1, -2300, 5)}
}

@keyframes generic-fade-in {
    0% {
        opacity: 0; /* Fully transparent at the start */
        font-size: 10px;          
    }
    100% {
        opacity: 1; /* Fully opaque at the end */
        font-size: 26px;    
    }
}

head,
body {
    background-color: #070707;
}
h2 {
    font-weight: light; /* Remove boldness */
}
/* Main Content Styles */
main {
    padding: 0 0.75vw;
    margin: 35vh 0;
    line-height: 1.6;
    text-align: center;
    align-items: center;
    color: #f8f5f1;
    background-color: #0a0a0a;
    z-index: 1;
    animation: generic-fade-in 3s forwards; /* Animation name and duration */
}
footer {
    pointer-events: none;
    list-style: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
    letter-spacing: 2.3px;
    font-weight: lighter;
    font-size: 0.95rem;
    display:block;
    justify-content: center;
    color: #dfdfdf;
    text-align: center;
    padding: 20px;
    z-index: 3;
    background-color: #000000;
}
.background {
    background: url('assets/f79ec76b1bd25df2ad36caff84e4dcb2.gif'); /* Add your GIF URL here */
    position: absolute; /* Absolute positioning to overlay background */    
    top: 5px;
    left: 0px;
    width: 100vw;
    height: 105vh;
    background-size: cover;
    background-attachment: fixed; /* Parallax effect */
    background-position: center;
    filter: blur(16px); /* Apply blur effect */
    z-index: -1; /* Ensure it stays behind other content */
    animation: generic-fade-in 2s forwards; /* Animation name and duration */

}
/* Header Styles */
.top-grad {
    pointer-events: none;
    position: absolute;     
    background-attachment: fixed; /* Parallax effect */
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: linear-gradient(to bottom, #111111 0%, #d6d6d636 45%);
}

.sns-links {
    display: flex;
    position: absolute;    
    top: 86.25vh;
    padding: 0px;
    z-index: 1000; 
    margin-left: 40px;
    margin-top: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    list-style: none;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 15px;
    padding: 0px 0;
    transition: all 5.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sns-links li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: all 5.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.link-bar {  
    position: fixed;
    background: rgba(26, 26, 26, 0.767);
    width: 100%;
    height: 6vh;
    top: 0px;
    z-index: 9;
    backdrop-filter: blur(10px);
}
.news {
    background: rgba(5, 5, 5, 0.199);
    backdrop-filter: blur(10px);
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    display:flex;
    width: 95%;
    margin-top: 4.25%;
    margin-left: 2.5%;
    height: 50px;
    border-radius: 6px;
    z-index:1000;
    color: #fff;
    overflow: hidden;
    transform: translate(0 -15px);
    animation: generic-fade-in 2s forwards;
    }
.feed {
    text-wrap: nowrap;
    list-style: none;
    z-index:1000;
    padding: 20px;
    animation: scroll-x 24s linear infinite;
}
.feed li a {
    font-size: 1.6rem;
    margin: 4.3rem;
    text-decoration:none;
    color: #ffffff;
}

.landing-container{
    margin-top: 30vh;
}
.branding {
    position: fixed;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.branding img {
    width: 100%;
    height: 100%;
    z-index: 6;
    object-fit: cover;
}

.logo {
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); 
    z-index: 5;
    opacity: 0;
    transform: translateY(-40px);
    animation: generic-fade-in 2s forwards;
}

.headline {
    position: relative;
    text-shadow: 5px 4px 12px rgba(0, 0, 0, 1); 
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    z-index: 6;
    animation: header-fade-in 1.5s forwards;
}


.horizontal-links {
    top: 12px;
    position: sticky;
    color: #ffffff;
    letter-spacing: 13.3px;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    letter-spacing: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 10;
}

.featured-link {
    display:inline-flex;
    list-style: none;
    padding-top: 0px;
    padding-bottom: 32px;
    z-index: 10;
}
.latest-link {
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
    z-index: 10;
}

.horizontal-links li a,
.featured-link li a,
.latest-link li a {
    text-decoration:none;
    color: #ffffff;
    animation: link-fade-in 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.horizontal-links li a:hover, 
.featured-link li a:hover,
.latest-link li a:hover{
    color: #ff5733;
    letter-spacing: 2px;
}
.current-link {
    z-index: 10;
    transform: translateY(25px);
    text-align: center;
    margin-left: 15px;
    margin-top: 15px;   
}
.current-link::after {
    content: "↗";
    font-size: 1.7rem;
}

.current-link a {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    letter-spacing: 13.3px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.4rem; 
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);  
}

.current-link a:hover {
    color: #ff5733;    
    letter-spacing: 15px; 
    transform: translateY(-5px);
}
.portfolio-container {
    transition: all 0.3s ease;
    background-color: #000000;
    display: grid;
    z-index: 4;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    padding: 0px;
    margin-bottom: -8vh;
}
.portfolio-container:hover {
    gap: 12px;
}
.portfolio-item {
    border-radius: 2px;
    transition: all 0.3s ease;
}
.portfolio-item:hover {
    gap: 12px;
    transform: scale(1.05);
    z-index: 4;
    translate: 0 12px; /* Zoom effect on hover */
}

.list-latest {
    
    animation: generic-fade-in 12s cubic-bezier(0.23, 1, 0.320, 1) forwards;
    width: 100%;
    height: 44vh; /* Fixed height for media */
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd; /* Fallback background if GIF doesn't load */
    position: relative;
}
.list-featured {
    background-color: #000000;
    animation: generic-fade-in 12s cubic-bezier(0.23, 1, 0.320, 1) forwards;
    width: 100%;
    height: 50vh; /* Fixed height for media */
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd; /* Fallback background if GIF doesn't load */
    position: relative;
}

.list-latest img,
.list-featured img {
    filter: blur(0px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.list-latest:hover, .list-featured:hover img {
    filter: blur(4px) brightness(0.5);
    transition: all 0.3s ease;
    transform: scale(1.01); /* Zoom effect on hover */
}

.scroll-element {
    transition: opacity 0.5s linear;
}
.card-title {
    pointer-events: none;
    text-align: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    text-decoration: none;
    top: -28vh;
    letter-spacing: 1.1px;
    text-decoration: none;
    font-size: 1.6rem;
    position: relative;
    color: #fff;
    z-index: 6;
    text-shadow: 4px 4px 6px rgb(0, 0, 0); 
}

.card-desc {
    pointer-events: none;
    text-align: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    text-decoration: none;
    top: -28vh;
    letter-spacing: 1.3px;
    text-decoration: none;
    font-size: 24px;
    margin: 0 0 10px;
    position: relative;
    color: #fff;
    z-index: 5;
    text-shadow: 4px 4px 6px rgb(0, 0, 0); 
}


